.example-action-buttons {
    padding-bottom: 20px;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }



.response-list,
.question-list {
  list-style: none;
  padding: 0;
}


.question-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.response-list {
  margin-left: 16px;
}


.question-list p {
  font-weight: bold;
  margin: 0;
}

.response-list li {
  margin: 0;
  color: #666;
}

.button-container {
  display: flex;
  align-items: center;
}

.action-button {
  background-color: #3fb88f;
  color: #070707;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-right: 10px;
}

.action-button:hover {
  background-color: #5d9cf0;
}

.update-button {
  margin-right: 10px;
}

.print-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3fb88f;
  color: #070707;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.print-button:hover {
  background-color: #5d9cf0;
}

.print-button mat-icon {
  margin-right: 5px;
}



