/* Add this CSS to your stylesheet */
.modal-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the modal horizontally */
}

.modal-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 1.25rem;
  margin: 0;
}

.modal-body {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
}

.btn-secondary {
  background-color: #b33c56;
  color: #fff;
}

.btn-primary {
  background-color: #27ac7f;
  color: #fff;
}

/* Add this CSS to your stylesheet */
.close {
  background: none;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.close:hover {
  opacity: 0.8;
}
